
body {
    background: #F0F7DA;
}
body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border: 1px dashed black;
}
#titulo{
    display: flex;
    flex-direction: row;
    color: #36802D;
    font-family: Yeseva One;
    font-size: 30px;
    align-items: baseline;
}
#Nombre{
    display: flex;
    flex-direction: row;
    align-items:center;
}
