*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./images/image\ 1.png);
}
#Search,#id{
    display: none;
}
#logo{
    width: 5%;
}
header{
    border-radius: 5%;
    background: #EAEDD6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding: 3%;
}
#Isabel{
    border-radius: 16%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #5B774D;
    text-align: center;
    font-family: Song Myung;
    font-size: 100%;
    padding: 25%;
    
}
main{
    background-color: #DBE0BA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #36802D;
    font-family: Yeseva One;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5%;
    margin-bottom: 5%;
}
.ponerFoto{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
#imagen{
    width:  50%;
    padding: 8%;
}
#insert{
    display: flex;
    flex-direction: column;
    
}
input{
    margin-bottom: 10%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 1px ;
    padding: 9%;
}

input::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
#PUBLISH{
    border-radius: 100px;
    background: #36802D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF8F8;
    font-family: Song Myung;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
}
@media screen  and (min-width:800px){
    #Search{
        display: block;
        padding-right: 90%;
        text-align: left;
     }
    #id{
       display: block;
    }
    .search{
        display: flex;
        flex-direction: row;
        margin-right: 20%;
        gap: 10%;
    }
    #logo{
        width: 6%;
    }
    header{
        padding: 1%;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 5%;
    }
    main{
        display: grid;
        grid-template-areas: 'titulo ponerFoto '
        'insert ponerFoto';
        grid-template-columns: repeat(2,1fr);
        margin: 3%;
    }
    h1{
        grid-area: titulo;
        text-align: center;
        font-size: 5em;
    }
    .ponerFoto{
        grid-area: ponerFoto;
        margin: 4%;
        height: 50vh;
        align-items: center;
    }
    #insert{
        grid-area: insert;
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin: 5%;
    }
    input{
        margin-bottom: 10%;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        border: 1px ;
        padding: 3%;
        
    }
    input::placeholder{
        text-align: start;
    }
    #Price,#Type{
        margin: auto;
    }
    #imagen{
        width: 50%;
        height: 50%;
    }
    
}