*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./images/image\ 1.png);
}
#Search,#id{
    display: none;
}
#logo{
    width: 6vh;
}
header{
    border-radius: 5%;
    background: #EAEDD6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    padding: 1%;
}
#Isabel{
    border-radius: 16%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #5B774D;
    text-align: center;
    font-family: Song Myung;
    font-size: 1.5em;
    padding: 25%;
    
}
main{
    background-color: #DBE0BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
h1{
    color: #36802D;
    font-family: Yeseva One;
    font-size: 3em;
    font-weight: 400;
    padding: 3%;
    margin-bottom: 2%;
}
.ponerFoto{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
#imagen{
    width:  50%;
    padding: 8%;
}
#insert{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 10%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 1px ;
    padding: 5%;
}
input::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 2em;
}
#PUBLISH{
    border-radius: 100px;
    background: #36802D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF8F8;
    font-family: Song Myung;
    font-size: 2em;
    margin-bottom: 5%;
    margin-top: 2%;
}
@media screen  and (min-width:800px){
    #Search{
        display: block;
        width: 40vw;
        padding: 2%;
        text-align: left;
    }
    #Frame{
        width: 3vh;
        height: 3vh;
    }
    #id{
       display: block;
    }
    .search{
        display: flex;
        flex-direction: row;
        
    }
    header{
        padding: 1%;
        align-content: center;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 5%;
    }
    main{
        display: grid;
        grid-template-areas: 'titulo ponerFoto '
        'insert ponerFoto';
        grid-template-columns: repeat(2,1fr);
        margin: 3%;
    }
    h1{
        grid-area: titulo;
        text-align: center;
        font-size: 5em;
    }
    .ponerFoto{
        grid-area: ponerFoto;
        margin: 4%;
        height: 50vh;
        align-items: center;
    }
    #insert{
        grid-area: insert;
        display: flex;
        flex-direction: column;
        margin: 5%;
    }
    input{
        margin-bottom: 6%;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        border: 1px ;
        padding: 3%;
        
    }
    input::placeholder{
        text-align: start;
    }
    #Description{
        padding: 6%;
    }
    form input[id="Type"]{
        width: 40%;
    }
    #imagen{
        width: 25vh;
        height: 20vh;
    }
    
}